@font-face {
    font-family: poppins;
    src: url("../Poppins/Poppins-Regular.ttf");

  }
body{
    font-family: poppins;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    /* -webkit-font-smoothing:antialiased; */
}
header{
    background-color:black;
    
}
.flex{
    display:flex; 
}
.items-center{
    align-items:center;
}

.justify-center{
    justify-content:center;
}
.justify-between{
    justify-content: space-between;
}

.flex-1{
    flex:1;
}


.container{
    padding:0 15px;
    margin:0 auto;
    
}

header nav .left a{
    color:white;
    text-decoration: none;
    margin-right:2rem;
    text-transform:uppercase;


}
header nav .left a:hover{
    color:teal;
}
header nav .branding{
    margin-right:3rem;

}


.btn{
    padding:0.8rem 2rem;
    font-size:1rem;
    font-weight:600;
    border:2px solid transparent;
    outline:none;
    cursor:pointer;
    text-transform: uppercase;
    text-decoration:none;
}
.btn-primary{
    background:turquoise;
    text-decoration:none;
}
.btn-primary:hover{
    background:transparent;
    border-color:white;
    color:white;
}



.btn-secondary{
    background-color:turquoise;
    border-color:black;
    text-decoration:none; 
}
.btn-secondary:hover{
    background:transparent;
    border-color:white;
    color:white;
}

.portfolio-container{
    background-color: #000;
    height:750px;
    
}

.img-container {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    background-image: url("download.png");
    height: 700px;
    background-position:center top;
    background-repeat : no-repeat;

}

.content-container {
    
    display: inline-block;
    width: 50%;
    padding-top: 15%;
    padding-left:30px;
    padding-bottom: 20%;
    word-wrap: break-word;
    
    
}
 h6{
    font-size : 3.2em;
    font-weight:100;
    color:turquoise;
    margin-bottom:0.5rem;
}
 h1{
    font-size:2rem;
    font-weight:100;
    color:coral;
    line-height:1.2;
    margin-bottom:2rem;
}
p{
    font-size:1.2rem;
    color:white;
}

.download-cv {
    margin-top: 40px;
}
.all-container{
    background-color: #000;
    height:850px;
}
.vid-container{
    float: right; 
    
}

.contentt-container {
    
    display: inline-block;
    float:left;
    width: 50%;
    padding-left:30px;
    word-wrap: break-word;
    
    
}
 h2{
    font-size :4.0em;
    font-weight:100;
    color:turquoise;
    margin-bottom:0.5rem;
}
 h5{
    font-size:2rem;
    font-weight:100;
    color:coral;
    line-height:1.2;
    margin-bottom:2rem;
}
p{
    font-size:1.2rem;
    color:white;


}

.icon-container img{
    background: white;
    
}

.icon-container img:hover{
    background:turquoise;
}


.icon-container a{
    align-items:center;
    justify-content:center;
    
} 

.icon-container img{
    border-radius:50%;
}
.main-container{
    padding-top:80px;
    text-decoration: none;
    font-size:3em;
    text-align:center;
    background:linear-gradient(rgba(53, 54, 53, 0.7),rgba(7, 0, 0, 0.7)),url(koko.jpg);
    height:620px; 
}
h4{
    color:rgb(245, 250, 245);
}
.main-container p{
    color:rgb(206, 177, 216);
}
.main-container .btn-secondary:hover{
    background:transparent;
    background-color:rgb(216, 231, 162);
}
.content{
    height:500px;
    padding-top:70px;
    text-align:center;
    background-color:rgb(5, 5, 5);
}
.content h3{
    color:white;

}
.content span{
    color:turquoise;
}
.content p{
    color:rgb(241, 238, 238);
    font-size:1.2em;
}
* {
    box-sizing: border-box;
  }


.work{
    height:1000px;
    padding-top:5%;
    text-align:center;
    background:linear-gradient(rgba(14, 13, 13, 0.7),rgba(10, 10, 10, 0.7));
}
.work h1{
    color:rgb(250, 246, 246);
    font-size:1.2em;
    font-weight:1.7em;
}
.work span{
    color:turquoise;
}
.work p{
    color:white;
    font-size:1.2em;

}
.card-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2em;
    padding-top:2%;
   
    
}
.card{
    position:relative;
    box-sizing:border-box;
    border-color:black; 
    transition: transform .2s;
  
}

.card:hover{
    transform: scale(1.1);
}

.card-content h1:hover{
    color:black;

}
.card-content a:hover{
    color:black;

}
.contact{
    height:1500px;
    background-color:rgb(247, 243, 243); 
    text-align:center; 
    padding-top:10%;
   
}
.contact span{
    color:turquoise;
}
.contact h1{
    color:black;
    font-size:1.7em;
}
.contact p{
    color:black;
    font-size:1.7em;
}
.card{
    padding-top:10%;
}
.my-form{
    padding:20px;
    background-color: rgb(189, 186, 186);
    height:1300; 

}
.my-form .form-group{
	padding-bottom:15px;

}
.my-form label{
	display:block;
}
.my-form input[type="text"], .my-form textarea{
	padding:8px;
    width:100%;
    
}
.my-form .btn-primary:hover{
    background:transparent;
    border-color:rgb(10, 10, 10);
    color:rgb(8, 8, 8);
}
.fix-me{
	position:fixed;
    top:55%;
    box-sizing:border-box; 
}

.fix-me{
    /* color:transparent; */
    background:transparent;
    border-color:rgb(4, 213, 241);
    color:rgb(250, 160, 187);
    text-decoration:none;
    text-shadow:3px 3px 1px rgb(33, 47, 243);
    font-size:1.3em;
     
}
.fix-me a{
    font-weight:2em;
    
}

.footer{
    background-color:rgb(5, 5, 5);
    height:300px;
    padding-top:3.5%; 
    text-align: center;
}
.image-container img{
    background: rgb(252, 248, 248);
    
}

.image-container img:hover{
    background:rgb(4, 213, 241);
}


.image-container a{
    align-items:center;
    justify-content:center;
    
} 

.image-container img {
    border-radius:50%;
}



@media screen and (max-width:700px){
.container{
    max-width:540px;
}

@media(min-width:992px){
    .container{
        max-width:960px;
    }
}
@media(min-width:1200px){
    .container{
        max-width:1152px;
    }
}
